<!--<div>-->
<!--    <app-header></app-header>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--         <app-recipes></app-recipes>-->
<!--            <app-shopping-list></app-shopping-list>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <app-cockpit
            (serverCreated)="onsServerAdded($event)"
            (blueprintCreated)="onBluePrintAdded($event)">
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <app-server-element
                    *ngFor="let serverElement of serverElements"
                    [element]="serverElement"
                    [passing]="messageToPass"
                    [sending]="messageToSend"
                    (output)="exampleMethodParent($event)"
            ></app-server-element>

        </div>
    </div>
    {{exampleParentProperty}}
</div>
